body{
    background-color: rgb(253, 249, 190);
}
nav h1{
    float: left;
    margin-left: 40px;
    background-color: #ffff00e7;
    border-radius: 15px;
    padding: 1px;
    font-size: xx-large;
}
nav h2{
    float: right;
    margin-right: 40px;
    background-color: #ffff00e7;
    border-radius: 15px;
    padding: 4px;
}
nav{
    background-image: url(png/pasta.jpg);
    height: 90px;
    color: #4e3500;
}
.info-one{
    width: 95vw;
    height: 35vh;
    border-radius: 20px;
    margin-left: 1.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    border: dotted 6px rgb(255, 115, 0);
    margin-top: 70px;
}
.info-one img{
    height: 35vh;
    width: 95vw;
    border-radius: 20px;
    position: absolute;
    top: 175px;
    left: 2.1vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.info-one img.active{
    opacity: 1;
}
.produkty{
    width: 98%;
    height: 130vh;
    padding: 1%;
    border-radius: 15px;
    background-color: #ffffe9e7;
    margin-top: 100px;
}
.produkty h1{
    text-align: center;
    font-family: fantasy;
    letter-spacing: 3px;
    font-size: 40px;
    color: #4e3500;
}
.produ{
    border-radius: 12px;
    border: dotted 3px #4e3500;
    width: 98%;
    height: 110vh;
    margin: 1%;
}
#item{
    width: 20vw;
    height: 50vh;
    margin: 20px;
    text-align: center;
    background-color: rgb(255, 255, 250);
    border-radius: 20px;
    border: solid 1px #4e3500;
    box-shadow: -1px 1px 10px 1px #4e350041;
    transform: scale(0.8);
    transition: .3s;
    float: left;
}
#item img{
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    width: 40vh;
    height: 25vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.8;
}
#item:hover{
    transform: scale(0.9);
}
#item button{
    border: #4e350041 solid 1px;
    background-color: #ffff7b;
    color: #352400;
    font-size: x-large;
    height: 5vh;
    width: 7vw;
    border-radius: 15px;
    margin-top: 8vh;
}
a{
    text-decoration: none;
    color:#352400;
}
a:visited{
    text-decoration: none;
    color:#352400;
}
/* item.php */
.produkty-item{
    width: 98%;
    height: 70vh;
    margin: 1%;
    border-radius: 15px;
    background-color: #ffffe9e7;
    margin-top: 20px;
}
.produkty-item img{
    -webkit-mask-image: linear-gradient(to right, black 20%, transparent 100%);
    mask-image: linear-gradient(to right, black 20%, transparent 100%);
    width: 60vh;
    height: 70vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    opacity: 0.8;
    float: left;
} 
.produkty-item button{
    border: #4e350041 solid 1px;
    background-color: #ffff7b;
    color: #352400;
    font-size: x-large;
    height: 7vh;
    width: 9vw;
    border-radius: 15px;
    margin-top: 30vh;
    box-shadow: -1px 1px 10px 1px #4e350041;
    transform: scale(0.8);
    transition: .3s;
    float: left;
}
#dodaj{
    margin-left: 20vw;
    margin-top: 32.8vh;
}
.produkty-item button:hover{
    transform: scale(0.9);
}
#h1{
    text-align: center;
    font-family: fantasy;
    letter-spacing: 4px;
    font-size: 40px;
    color: #4e3500;
}
.produkty-item h2{
    text-align: center;
    font-family: fantasy;
    letter-spacing: 4px;
    color: #4e3500;
}
#opis{
    text-align: center;
    font-size: x-large;
}
#liczba{
    margin-right: 22vw;
}
input{
    height: 25px;
    width: 100px;
    border-radius: 15px;
    border: #4e350041 solid 1px;
    padding-top: 3px;
    font-size: x-large;
}
.butt{
    margin-left: 40vw;
}